* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-img {
  position: absolute;
  background-image: url("/public/assets/mobile/bg-image-daytime.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  filter: brightness(70%);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 5rem;
}
