@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:wght@400;500;600;800&display=swap");

:root {
  --dark: #000;
  --generalGrey: #303030;
  --mainColor: #fff;
}
